
/* Aplicando estilos ala cabecera de la pagina */

header{
    background-image: url(img/gato-fondo.webp);
}

.tittle{
    z-index: 10;
    grid-row: 2/6;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    color: white;
}

.tittle h1{
    grid-row: 1/3;
    grid-column: 3/9;
    font-size: 4.6rem;
    color: var(--color-principal);
    text-shadow: 2px 2px 2px #fff
}

.tittle img{
    grid-column: 1/4;
    grid-row: 4;
    height: 300px;
    width: auto;
    position: absolute;
    filter: drop-shadow(4px 4px 0px #fff) contrast(300%);
}

.tittle p{
    grid-row: 6/span1;
    grid-column: 7/12;
    font-size: 1.5rem;
    font-style: oblique;
}

/* estilos de el MAIN */
.container_main section{
    word-spacing: 3px;
}

section img{
    height: 300px;
    width: auto;
    display: block;
    margin: auto;
    padding: 30px 0 5rem 0;
}

.welcome {
    padding-top: 100px;
}

.welcome h2{
    font-size: 2.6rem;
    color: var(--color-secundario);
}

.razas-gatunas h2{
    padding: 50px 0 0 10px;
}

.razas-gatunas .orange-Title{
    color: var(--color-terciario);
    padding-bottom: 100px;
}

/* Media queries */

/* mobile */
@media screen and (max-width: 767px) {

    .tittle h1{
        font-size: 3.7rem;
        grid-column: 2/8;
    }

    .tittle img{
        grid-column: 8/12;
        grid-row: 2;
        height: 150px;
    }

    .tittle p{
    grid-row: 6/span2;
    grid-column: 2/12;
    font-size: 1rem;
    word-spacing: 3px;
    line-height: 1.5;
    text-align: center;
    }

    section img{
        height: auto;
        width: 100%;
        padding: 30px 0 30px 0;
    }

    section h2{
        font-size: 2rem;
    }

  }

  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 991px) {

        .tittle img{
            height: 200px;
            grid-column: 1/4;
            grid-row: 5;
        }

        .tittle p{
            grid-column: 5/12;
            grid-row: 6;
            font-size: 1.2rem;
            line-height: 1.3;
        }

    }
